<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating new Book</title>
</head>
<body>
<h1>Create a new book</h1>
<form th:action="@{/book/new}" method="post" th:object="${book}">
    <input type="hidden" th:field="*{bookId}">
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr>
            <td><input type="text" th:field="*{title}" /></td>
            <td><input type="text" th:field="*{author}" /></td>
        </tr>
    </table>
    <input type="submit" value="Save book" />
</form>
</body>
</html>